<h2>Word: <%= @word.name %></h2>
<form class="" action="/words/<%= @word.id %>/edit" method="get">
  <button class="btn btn-dark" type="submit" name="button">Edit/Delete word</button>
</form>
<div class="row">
  <div class="col">
    <div class="card-header">
      <h3>Definitions:</h3>
    </div>
    <div class="card">
      <% if @definitions.any? %>
        <table>
          <% @definitions.each do |definition| %>
            <tr>
              <%= definition.text %>
              <form class="" action="/words/<%= @word.id %>/definitions/<%= definition.id %>" method="get">
                <div class="form-group">
                  <button class="btn btn-dark" type="submit" name="button">Edit/Delete</button>
                </div>
              </form>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>You have not entered any definitions yet!</p>
      <% end %>
    </div>
  </div>
  <div class="col">
    <div class="card-header">
      <h3>Add a new defintion:</h3>
    </div>
    <div class="card">
      <form action="/words/<%= @word.id %>/definitions" method="post">
        <div class="form-group">
          <label for="add_def">Definition:</label>
          <input id="new_def" name="new_def" class="form-control" type="text">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</div>

<a href="/words">Home</a>
